/* line 1, ../../views/stylesheets/coderay.css.sass */
.CodeRay {
  background-color: #202020; }
  /* line 3, ../../views/stylesheets/coderay.css.sass */
  .CodeRay pre {
    color: #cccccc;
    font-family: Monaco, Courier, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; }

/* line 13, ../../views/stylesheets/coderay.css.sass */
span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px; }

/* line 18, ../../views/stylesheets/coderay.css.sass */
table.CodeRay {
  border-collapse: collapse;
  width: 100%;
  padding: 2px; }
  /* line 22, ../../views/stylesheets/coderay.css.sass */
  table.CodeRay td {
    padding: 2px 4px;
    vertical-align: top; }

/* line 27, ../../views/stylesheets/coderay.css.sass */
.CodeRay .line_numbers, .CodeRay .no {
  color: gray;
  text-align: right; }
/* line 31, ../../views/stylesheets/coderay.css.sass */
.CodeRay .line_numbers tt {
  font-weight: bold; }
/* line 33, ../../views/stylesheets/coderay.css.sass */
.CodeRay .line_numbers .highlighted {
  color: red; }
/* line 35, ../../views/stylesheets/coderay.css.sass */
.CodeRay .line {
  display: block;
  float: left;
  width: 100%; }
/* line 39, ../../views/stylesheets/coderay.css.sass */
.CodeRay .no {
  padding: 0px 4px; }
/* line 41, ../../views/stylesheets/coderay.css.sass */
.CodeRay .code {
  width: 100%; }

/* line 45, ../../views/stylesheets/coderay.css.sass */
ol.CodeRay li {
  white-space: pre; }

/* line 49, ../../views/stylesheets/coderay.css.sass */
.CodeRay .code pre {
  overflow: auto; }
/* line 51, ../../views/stylesheets/coderay.css.sass */
.CodeRay .debug {
  color: white !important; }
/* line 53, ../../views/stylesheets/coderay.css.sass */
.CodeRay .af {
  color: #0000cc; }
/* line 55, ../../views/stylesheets/coderay.css.sass */
.CodeRay .an {
  color: #000077; }
/* line 57, ../../views/stylesheets/coderay.css.sass */
.CodeRay .at {
  color: #ff0088; }
/* line 59, ../../views/stylesheets/coderay.css.sass */
.CodeRay .av {
  color: #770000; }
/* line 61, ../../views/stylesheets/coderay.css.sass */
.CodeRay .aw {
  color: #cc0000; }
/* line 63, ../../views/stylesheets/coderay.css.sass */
.CodeRay .bi {
  color: #550099;
  font-weight: bold; }
/* line 66, ../../views/stylesheets/coderay.css.sass */
.CodeRay .c {
  color: #666666; }
/* line 68, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ch {
  color: #0044dd; }
  /* line 70, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .ch .k {
    color: #336699; }
  /* line 72, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .ch .dl {
    color: #003399; }
/* line 74, ../../views/stylesheets/coderay.css.sass */
.CodeRay .cl {
  color: #7ac0e4; }
/* line 76, ../../views/stylesheets/coderay.css.sass */
.CodeRay .cm {
  color: #aa0088;
  font-weight: bold; }
/* line 79, ../../views/stylesheets/coderay.css.sass */
.CodeRay .co {
  color: #7ac0e4; }
/* line 81, ../../views/stylesheets/coderay.css.sass */
.CodeRay .cr {
  color: #00aa00; }
/* line 83, ../../views/stylesheets/coderay.css.sass */
.CodeRay .cv {
  color: #336699; }
/* line 85, ../../views/stylesheets/coderay.css.sass */
.CodeRay .de {
  color: #bb00bb; }
/* line 87, ../../views/stylesheets/coderay.css.sass */
.CodeRay .df {
  color: #009999;
  font-weight: bold; }
/* line 90, ../../views/stylesheets/coderay.css.sass */
.CodeRay .di {
  color: #008888;
  font-weight: bold; }
/* line 93, ../../views/stylesheets/coderay.css.sass */
.CodeRay .dl {
  color: black; }
/* line 95, ../../views/stylesheets/coderay.css.sass */
.CodeRay .do {
  color: #997700; }
/* line 97, ../../views/stylesheets/coderay.css.sass */
.CodeRay .dt {
  color: #3344bb; }
/* line 99, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ds {
  color: #dd4422;
  font-weight: bold; }
/* line 102, ../../views/stylesheets/coderay.css.sass */
.CodeRay .e {
  color: #666666;
  font-weight: bold; }
/* line 105, ../../views/stylesheets/coderay.css.sass */
.CodeRay .en {
  color: #880000;
  font-weight: bold; }
/* line 108, ../../views/stylesheets/coderay.css.sass */
.CodeRay .er {
  color: white; }
/* line 110, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ex {
  color: #cc0000;
  font-weight: bold; }
/* line 113, ../../views/stylesheets/coderay.css.sass */
.CodeRay .fl {
  color: #7ac0e4; }
/* line 115, ../../views/stylesheets/coderay.css.sass */
.CodeRay .fu {
  color: #efc0f4; }
/* line 117, ../../views/stylesheets/coderay.css.sass */
.CodeRay .gv {
  color: #99ffff; }
/* line 119, ../../views/stylesheets/coderay.css.sass */
.CodeRay .hx {
  color: #005588;
  font-weight: bold; }
/* line 122, ../../views/stylesheets/coderay.css.sass */
.CodeRay .i {
  color: #99ffff; }
/* line 124, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ic {
  color: #bb4444;
  font-weight: bold; }
/* line 127, ../../views/stylesheets/coderay.css.sass */
.CodeRay .il {
  color: #99ffff; }
  /* line 129, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .il .idl {
    font-weight: bold; }
/* line 131, ../../views/stylesheets/coderay.css.sass */
.CodeRay .idl {
  font-weight: bold;
  color: #33ffff; }
/* line 134, ../../views/stylesheets/coderay.css.sass */
.CodeRay .im {
  color: red; }
/* line 136, ../../views/stylesheets/coderay.css.sass */
.CodeRay .in {
  color: #bb22bb;
  font-weight: bold; }
/* line 139, ../../views/stylesheets/coderay.css.sass */
.CodeRay .iv {
  color: #3333bb; }
/* line 141, ../../views/stylesheets/coderay.css.sass */
.CodeRay .la {
  color: #997700;
  font-weight: bold; }
/* line 144, ../../views/stylesheets/coderay.css.sass */
.CodeRay .lv {
  color: #996633; }
/* line 146, ../../views/stylesheets/coderay.css.sass */
.CodeRay .oc {
  color: #4400ee;
  font-weight: bold; }
/* line 149, ../../views/stylesheets/coderay.css.sass */
.CodeRay .of {
  color: black;
  font-weight: bold; }
/* line 152, ../../views/stylesheets/coderay.css.sass */
.CodeRay .pc {
  color: #99ffff; }
/* line 154, ../../views/stylesheets/coderay.css.sass */
.CodeRay .pd {
  color: #336699;
  font-weight: bold; }
/* line 157, ../../views/stylesheets/coderay.css.sass */
.CodeRay .pp {
  color: #557799; }
/* line 159, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ps {
  color: #0000cc;
  font-weight: bold; }
/* line 162, ../../views/stylesheets/coderay.css.sass */
.CodeRay .pt {
  color: #007744;
  font-weight: bold; }
/* line 165, ../../views/stylesheets/coderay.css.sass */
.CodeRay .r {
  color: #63f06e; }

/* line 168, ../../views/stylesheets/coderay.css.sass */
.kw {
  color: #008800; }

/* line 172, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ke {
  color: #99cc99; }
  /* line 174, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .ke .dl {
    color: #99cc99; }
  /* line 176, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .ke .ch {
    color: #8800ff; }
/* line 178, ../../views/stylesheets/coderay.css.sass */
.CodeRay .vl {
  color: #008888; }
/* line 181, ../../views/stylesheets/coderay.css.sass */
.CodeRay .rx .k {
  color: #99cc99; }
/* line 183, ../../views/stylesheets/coderay.css.sass */
.CodeRay .rx .dl {
  color: #99ccff; }
/* line 185, ../../views/stylesheets/coderay.css.sass */
.CodeRay .rx .mod {
  color: #99cc99; }
/* line 187, ../../views/stylesheets/coderay.css.sass */
.CodeRay .rx .fu {
  color: #99cc99;
  font-weight: bold; }
/* line 190, ../../views/stylesheets/coderay.css.sass */
.CodeRay .s {
  color: #dd2200; }
  /* line 192, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .s .k {
    color: #99ffff; }
  /* line 194, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .s .ch {
    color: #99ffff; }
  /* line 196, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .s .dl {
    color: #99ffff; }
/* line 198, ../../views/stylesheets/coderay.css.sass */
.CodeRay .sh {
  color: #22bb22; }
  /* line 200, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .sh .dl {
    color: #116611; }
/* line 202, ../../views/stylesheets/coderay.css.sass */
.CodeRay .sy {
  color: #7ac0e4; }
  /* line 204, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .sy .k {
    color: #7ac0e4; }
  /* line 206, ../../views/stylesheets/coderay.css.sass */
  .CodeRay .sy .dl {
    color: #663300; }
/* line 208, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ta {
  color: #007700; }
/* line 210, ../../views/stylesheets/coderay.css.sass */
.CodeRay .tf {
  color: #007700;
  font-weight: bold; }
/* line 213, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ts {
  color: #dd7700;
  font-weight: bold; }
/* line 216, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ty {
  color: #333399;
  font-weight: bold; }
/* line 219, ../../views/stylesheets/coderay.css.sass */
.CodeRay .v {
  color: #003366; }
/* line 221, ../../views/stylesheets/coderay.css.sass */
.CodeRay .xt {
  color: #444444; }
/* line 223, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ins {
  background: #aaffaa; }
/* line 225, ../../views/stylesheets/coderay.css.sass */
.CodeRay .del {
  background: #ffaaaa; }
/* line 227, ../../views/stylesheets/coderay.css.sass */
.CodeRay .chg {
  color: #aaaaff;
  background: #000077; }
/* line 230, ../../views/stylesheets/coderay.css.sass */
.CodeRay .head {
  color: #ff88ff;
  background: #550055; }
/* line 233, ../../views/stylesheets/coderay.css.sass */
.CodeRay .ins .ins {
  color: #008800;
  font-weight: bold; }
/* line 236, ../../views/stylesheets/coderay.css.sass */
.CodeRay .del .del {
  color: #880000;
  font-weight: bold; }
/* line 239, ../../views/stylesheets/coderay.css.sass */
.CodeRay .chg .chg {
  color: #6666ff; }
/* line 241, ../../views/stylesheets/coderay.css.sass */
.CodeRay .head .head {
  color: #ff44ff; }
