.CodeRay {
  background-color: #202020; }
  .CodeRay pre {
    color: #cccccc;
    font-family: Monaco, Courier, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; }

span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px; }

table.CodeRay {
  border-collapse: collapse;
  width: 100%;
  padding: 2px; }
  table.CodeRay td {
    padding: 2px 4px;
    vertical-align: top; }

.CodeRay .line_numbers, .CodeRay .no {
  color: gray;
  text-align: right; }
.CodeRay .line_numbers tt {
  font-weight: bold; }
.CodeRay .line_numbers .highlighted {
  color: red; }
.CodeRay .line {
  display: block;
  float: left;
  width: 100%; }
.CodeRay .no {
  padding: 0px 4px; }
.CodeRay .code {
  width: 100%; }

ol.CodeRay li {
  white-space: pre; }

.CodeRay .code pre {
  overflow: auto; }
.CodeRay .debug {
  color: white !important; }
.CodeRay .af {
  color: #0000cc; }
.CodeRay .an {
  color: #000077; }
.CodeRay .at {
  color: #ff0088; }
.CodeRay .av {
  color: #770000; }
.CodeRay .aw {
  color: #cc0000; }
.CodeRay .bi {
  color: #550099;
  font-weight: bold; }
.CodeRay .c {
  color: #666666; }
.CodeRay .ch {
  color: #0044dd; }
  .CodeRay .ch .k {
    color: #336699; }
  .CodeRay .ch .dl {
    color: #003399; }
.CodeRay .cl {
  color: #7ac0e4; }
.CodeRay .cm {
  color: #aa0088;
  font-weight: bold; }
.CodeRay .co {
  color: #7ac0e4; }
.CodeRay .cr {
  color: #00aa00; }
.CodeRay .cv {
  color: #336699; }
.CodeRay .de {
  color: #bb00bb; }
.CodeRay .df {
  color: #009999;
  font-weight: bold; }
.CodeRay .di {
  color: #008888;
  font-weight: bold; }
.CodeRay .dl {
  color: black; }
.CodeRay .do {
  color: #997700; }
.CodeRay .dt {
  color: #3344bb; }
.CodeRay .ds {
  color: #dd4422;
  font-weight: bold; }
.CodeRay .e {
  color: #666666;
  font-weight: bold; }
.CodeRay .en {
  color: #880000;
  font-weight: bold; }
.CodeRay .er {
  color: white; }
.CodeRay .ex {
  color: #cc0000;
  font-weight: bold; }
.CodeRay .fl {
  color: #7ac0e4; }
.CodeRay .fu {
  color: #efc0f4; }
.CodeRay .gv {
  color: #99ffff; }
.CodeRay .hx {
  color: #005588;
  font-weight: bold; }
.CodeRay .i {
  color: #99ffff; }
.CodeRay .ic {
  color: #bb4444;
  font-weight: bold; }
.CodeRay .il {
  color: #99ffff; }
  .CodeRay .il .idl {
    font-weight: bold; }
.CodeRay .idl {
  font-weight: bold;
  color: #33ffff; }
.CodeRay .im {
  color: red; }
.CodeRay .in {
  color: #bb22bb;
  font-weight: bold; }
.CodeRay .iv {
  color: #3333bb; }
.CodeRay .la {
  color: #997700;
  font-weight: bold; }
.CodeRay .lv {
  color: #996633; }
.CodeRay .oc {
  color: #4400ee;
  font-weight: bold; }
.CodeRay .of {
  color: black;
  font-weight: bold; }
.CodeRay .pc {
  color: #99ffff; }
.CodeRay .pd {
  color: #336699;
  font-weight: bold; }
.CodeRay .pp {
  color: #557799; }
.CodeRay .ps {
  color: #0000cc;
  font-weight: bold; }
.CodeRay .pt {
  color: #007744;
  font-weight: bold; }
.CodeRay .r {
  color: #63f06e; }

.kw {
  color: #008800; }

.CodeRay .ke {
  color: #99cc99; }
  .CodeRay .ke .dl {
    color: #99cc99; }
  .CodeRay .ke .ch {
    color: #8800ff; }
.CodeRay .vl {
  color: #008888; }
.CodeRay .rx .k {
  color: #99cc99; }
.CodeRay .rx .dl {
  color: #99ccff; }
.CodeRay .rx .mod {
  color: #99cc99; }
.CodeRay .rx .fu {
  color: #99cc99;
  font-weight: bold; }
.CodeRay .s {
  color: #dd2200; }
  .CodeRay .s .k {
    color: #99ffff; }
  .CodeRay .s .ch {
    color: #99ffff; }
  .CodeRay .s .dl {
    color: #99ffff; }
.CodeRay .sh {
  color: #22bb22; }
  .CodeRay .sh .dl {
    color: #116611; }
.CodeRay .sy {
  color: #7ac0e4; }
  .CodeRay .sy .k {
    color: #7ac0e4; }
  .CodeRay .sy .dl {
    color: #663300; }
.CodeRay .ta {
  color: #007700; }
.CodeRay .tf {
  color: #007700;
  font-weight: bold; }
.CodeRay .ts {
  color: #dd7700;
  font-weight: bold; }
.CodeRay .ty {
  color: #333399;
  font-weight: bold; }
.CodeRay .v {
  color: #003366; }
.CodeRay .xt {
  color: #444444; }
.CodeRay .ins {
  background: #aaffaa; }
.CodeRay .del {
  background: #ffaaaa; }
.CodeRay .chg {
  color: #aaaaff;
  background: #000077; }
.CodeRay .head {
  color: #ff88ff;
  background: #550055; }
.CodeRay .ins .ins {
  color: #008800;
  font-weight: bold; }
.CodeRay .del .del {
  color: #880000;
  font-weight: bold; }
.CodeRay .chg .chg {
  color: #6666ff; }
.CodeRay .head .head {
  color: #ff44ff; }
