a {
  color: #cc6666;
  text-decoration: none; }

a.active {
  color: #ff6666 !important; }

a.area {
  color: white;
  font-size: 14px;
  text-transform: uppercase; }

a.section {
  color: #999999;
  font-size: 12px;
  text-transform: uppercase; }

a.subsection {
  color: #666666;
  font-size: 12px;
  text-transform: uppercase; }

a.chapter {
  color: #99cc99;
  font-size: 12px;
  text-transform: uppercase; }

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px; }

div {
  margin: 0px;
  padding: 0px; }

div.code {
  padding: 10px; }

div#container {
  height: 100%;
  width: 780px;
  z-index: 100; }

div#centered {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center; }

div#center {
  display: table-cell;
  vertical-align: middle; }

div.clear {
  clear: both; }

div.content {
  background-color: #202020;
  border: 8px solid white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  width: 600px; }

div.footer {
  color: #666666;
  font-size: 12px;
  padding-top: 5px;
  text-align: right;
  width: 600px; }

div.header {
  height: 116px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
  width: 600px; }
  div.header img {
    margin-top: 80px;
    margin-left: 5px; }

div.main {
  float: left;
  margin-left: 25px;
  width: 600px; }

div.navigation {
  float: left;
  margin: 0px;
  padding-top: 20px;
  text-align: right;
  width: 150px; }

h1 {
  color: #ff6666;
  font-size: 22px;
  font-weight: normal;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase; }

h2 {
  color: #cc6666;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase; }

h3 {
  color: #cc6666;
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px;
  text-transform: uppercase; }

h4 {
  color: #cc6666;
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px; }
  h4 tt {
    color: #fc9494; }

html {
  background-image: url("/images/background.png");
  background-repeat: repeat-x repeat-y;
  background-color: #333333;
  height: 100%; }

img {
  border: 0px; }

img.diagram {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px; }

.italic {
  font-style: italic; }

mongoid, mongodb {
  color: #99ffff;
  font-size: 11px;
  font-weight: normal;
  padding-left: 20px;
  text-transform: uppercase; }

p {
  color: #cccccc;
  font-size: 13px;
  margin: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }

table.performance {
  color: #cccccc;
  font-size: 11px;
  margin: 10px;
  width: 580px; }
  table.performance tr td {
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 10px;
    padding: 5px 3px 5px 3px;
    width: 120px; }
    table.performance tr td .op {
      float: left;
      width: 300px; }
    table.performance tr td .time, table.performance tr td .rate {
      float: left;
      width: 130px;
      text-align: right; }
  table.performance tr td.header {
    color: #cccccc;
    padding: 10px 3px 10px 3px;
    font-weight: bold;
    text-transform: uppercase; }
  table.performance tr td.green {
    border: 5px solid #75ad75;
    background-color: #92d592;
    color: #333333;
    font-family: monospace; }
  table.performance tr td.red {
    border: 5px solid #c77171;
    background-color: #ff6666;
    color: #973636;
    font-family: monospace; }
  table.performance tr td.yellow {
    border: 5px solid #d3d48b;
    background-color: #eaeb89;
    color: #6c6c4e;
    font-family: monospace; }

tt {
  color: #99cc99; }

ul {
  color: #cccccc;
  font-size: 13px;
  list-style-type: square;
  margin-top: 0px;
  margin-right: 10px; }

ul.config li {
  padding-bottom: 8px; }

ul.code {
  color: #999999;
  font-size: 12px;
  list-style-type: square;
  margin: 0px; }

ul.navigation {
  font-size: 16px;
  list-style: none;
  margin: 0px; }
  ul.navigation li.area {
    padding-top: 10px; }
