/* line 1, ../../views/stylesheets/site.css.sass */
a {
  color: #cc6666;
  text-decoration: none; }

/* line 5, ../../views/stylesheets/site.css.sass */
a.active {
  color: #ff6666 !important; }

/* line 8, ../../views/stylesheets/site.css.sass */
a.area {
  color: white;
  font-size: 14px;
  text-transform: uppercase; }

/* line 13, ../../views/stylesheets/site.css.sass */
a.section {
  color: #999999;
  font-size: 12px;
  text-transform: uppercase; }

/* line 18, ../../views/stylesheets/site.css.sass */
a.subsection {
  color: #666666;
  font-size: 12px;
  text-transform: uppercase; }

/* line 23, ../../views/stylesheets/site.css.sass */
a.chapter {
  color: #99cc99;
  font-size: 12px;
  text-transform: uppercase; }

/* line 28, ../../views/stylesheets/site.css.sass */
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px; }

/* line 34, ../../views/stylesheets/site.css.sass */
div {
  margin: 0px;
  padding: 0px; }

/* line 38, ../../views/stylesheets/site.css.sass */
div.code {
  padding: 10px; }

/* line 41, ../../views/stylesheets/site.css.sass */
div#container {
  height: 100%;
  width: 100%;
  z-index: 100; }

/* line 46, ../../views/stylesheets/site.css.sass */
div#centered {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center; }

/* line 52, ../../views/stylesheets/site.css.sass */
div#center {
  display: table-cell;
  vertical-align: middle; }

/* line 56, ../../views/stylesheets/site.css.sass */
div.clear {
  clear: both; }

/* line 59, ../../views/stylesheets/site.css.sass */
div.content {
  background-color: #202020;
  border: 8px solid white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  width: 600px; }

/* line 66, ../../views/stylesheets/site.css.sass */
div.footer {
  color: #666666;
  font-size: 12px;
  padding-top: 5px;
  text-align: right;
  width: 600px; }

/* line 73, ../../views/stylesheets/site.css.sass */
div.header {
  height: 116px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
  width: 600px; }
  /* line 80, ../../views/stylesheets/site.css.sass */
  div.header img {
    margin-top: 80px;
    margin-left: 5px; }

/* line 84, ../../views/stylesheets/site.css.sass */
div.main {
  float: left;
  margin-left: 25px;
  width: 600px; }

/* line 89, ../../views/stylesheets/site.css.sass */
div.navigation {
  float: left;
  margin: 0px;
  padding-top: 20px;
  text-align: right;
  width: 150px; }

/* line 96, ../../views/stylesheets/site.css.sass */
h1 {
  color: #ff6666;
  font-size: 22px;
  font-weight: normal;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase; }

/* line 104, ../../views/stylesheets/site.css.sass */
h2 {
  color: #cc6666;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase; }

/* line 112, ../../views/stylesheets/site.css.sass */
h3 {
  color: #cc6666;
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px;
  text-transform: uppercase; }

/* line 119, ../../views/stylesheets/site.css.sass */
h4 {
  color: #cc6666;
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px; }
  /* line 125, ../../views/stylesheets/site.css.sass */
  h4 tt {
    color: #fc9494; }

/* line 128, ../../views/stylesheets/site.css.sass */
html {
  background-image: url("/images/background.png");
  background-repeat: repeat-x repeat-y;
  background-color: #333333;
  height: 100%; }

/* line 134, ../../views/stylesheets/site.css.sass */
img {
  border: 0px; }

/* line 137, ../../views/stylesheets/site.css.sass */
img.diagram {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px; }

/* line 142, ../../views/stylesheets/site.css.sass */
.italic {
  font-style: italic; }

/* line 145, ../../views/stylesheets/site.css.sass */
mongoid, mongodb {
  color: #99ffff;
  font-size: 11px;
  font-weight: normal;
  padding-left: 20px;
  text-transform: uppercase; }

/* line 152, ../../views/stylesheets/site.css.sass */
p {
  color: #cccccc;
  font-size: 13px;
  margin: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }

/* line 160, ../../views/stylesheets/site.css.sass */
table.performance {
  color: #cccccc;
  font-size: 11px;
  margin: 10px;
  width: 580px; }
  /* line 166, ../../views/stylesheets/site.css.sass */
  table.performance tr td {
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 10px;
    padding: 5px 3px 5px 3px;
    width: 120px; }
    /* line 173, ../../views/stylesheets/site.css.sass */
    table.performance tr td .op {
      float: left;
      width: 300px; }
    /* line 177, ../../views/stylesheets/site.css.sass */
    table.performance tr td .time, table.performance tr td .rate {
      float: left;
      width: 130px;
      text-align: right; }
  /* line 182, ../../views/stylesheets/site.css.sass */
  table.performance tr td.header {
    color: #cccccc;
    padding: 10px 3px 10px 3px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 188, ../../views/stylesheets/site.css.sass */
  table.performance tr td.green {
    border: 5px solid #75ad75;
    background-color: #92d592;
    color: #333333;
    font-family: monospace; }
  /* line 194, ../../views/stylesheets/site.css.sass */
  table.performance tr td.red {
    border: 5px solid #c77171;
    background-color: #ff6666;
    color: #973636;
    font-family: monospace; }
  /* line 200, ../../views/stylesheets/site.css.sass */
  table.performance tr td.yellow {
    border: 5px solid #d3d48b;
    background-color: #eaeb89;
    color: #6c6c4e;
    font-family: monospace; }

/* line 206, ../../views/stylesheets/site.css.sass */
tt {
  color: #99cc99; }

/* line 209, ../../views/stylesheets/site.css.sass */
ul {
  color: #cccccc;
  font-size: 13px;
  list-style-type: square;
  margin-top: 0px; }

/* line 215, ../../views/stylesheets/site.css.sass */
ul.code {
  color: #999999;
  font-size: 12px;
  list-style-type: square;
  margin: 0px; }

/* line 221, ../../views/stylesheets/site.css.sass */
ul.navigation {
  font-size: 16px;
  list-style: none;
  margin: 0px; }
  /* line 226, ../../views/stylesheets/site.css.sass */
  ul.navigation li.area {
    padding-top: 10px; }
